@model HomeModel

@*Razor Code Block if layout= null*@
@*Comment this section because this can be handled by ViewStart.chtml file*@
@*@{
        Layout = "_Layout";
}*@

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment1</title>
    <link rel="stylesheet" href="@Url.Content("~/css/Style.css")" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="col">
            <div class="mainSection">
                <br />
                <img id="service-pic" src="@Url.Content("~/Images/" + Model.ImageName)" />
                <br />
                <h1>@Model.Name</h1>
                <br />
                <h5>@Model.Desscription</h5>
                <br />
                @* asp-action will connect to another page *@
                @*<div class="mainSection">
                        <a class="actionTag" asp-action="Portfolio">View Portfolio</a>
                        <a class="actionTag" asp-action="ContactMe">Contact Me</a>
                    </div>*@
            </div>
        </div>

    </div>
</body>
</html>