
@{
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="@Url.Content("~/css/Style.css")" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <br />
        <h1 style="font-weight: bold;">My Portfolio</h1>
        <hr />
        <div class="row">

            <div class="col col_style">

                <img id="portfolio-pic" src="~/Images/productivity.jpg" />
                <h5>
                    Productivity is a measure of efficiency of a person completing a task. We often assume that productivity means getting more things done each day. Wrong. Productivity is getting important things done consistently.
                </h5>
            </div>

            <div class="col col_style">
                <img id="portfolio-pic" src="~/Images/arnold-francisca-3uA-fTfb3Es-unsplash.jpg" />
                <h5>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here
                </h5>
            </div>

            <div class="col col_style">
                <img id="portfolio-pic" src="~/Images/pro3.jpg" />
                <h5>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </h5>
            </div>

            <div class="col col_style">
                <img id="portfolio-pic" src="~/Images/food.jpg" />
                <h5>
                    Food delivery in Toronto has transitioned from dialing a number, to ordering online to opening an app on your phone. While players have come and gone over the years, these days the industry has mostly consolidated with a handful of big players left.
                </h5>
            </div>


        </div>

    </div>
</body>
</html>